:root {
  --off-led-background: radial-gradient(
    ellipse at center,
    #706f6b 0%,
    #52504d 100%
  );
  --idle-background: radial-gradient(
    ellipse at center,
    #e5b76e 0%,
    #d9a130 100%
  );
  --wrong-background: radial-gradient(
    ellipse at center,
    #e5726e 0%,
    #d93830 100%
  );
  --correct-background: radial-gradient(
    ellipse at center,
    #6fd86f 0%,
    #27a51e 100%
  );
}

.d-none {
  display: none;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle, #3b6b8b, #0d273a) !important;
  font-size: 16px;
}

p {
  padding: 0;
  margin: 0;
}

header {
  position: absolute;
  z-index: 99;
}

.title-bar {
  object-fit: repeat;
  height: clamp(4rem, 2.051vw + 3.59rem, 8rem);
  min-width: 100vw;
  background-image: url(img/header_bg.svg);
  background-size: contain;
  background-repeat: repeat;
  overflow: hidden;
}

.quizcard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-card {
  position: relative;
  width: 32rem;
  box-shadow: 0px 0px 32px rgba(7, 36, 57, 0.35),
    0px 0px 24px rgba(7, 36, 57, 0.15);
  border: none;
  border-radius: 0;
  overflow: hidden;
}

.quiz-card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(img/mesh.jpeg);
  background-size: contain;
  mix-blend-mode: multiply;
  filter: opacity(0.125) brightness(3);

  z-index: 0; /* Hinter das Hauptelement schieben */
}

.quiz-card-body {
  padding-top: 0;
}

.card {
  border-radius: 0;
  background-color: #3f769e;
}

.quiz-card {
  position: relative;
  border-radius: 0.5rem;
  border-top: 4px solid #78a9cc !important;
  border-left: 4px solid #538bb4 !important;
  border-right: 4px solid #2d5c7d !important;
  border-bottom: 4px solid #1c4561 !important;
}

.logo-container {
  position: relative;
  width: 100%;
}

.logo-sign {
  position: absolute;
  z-index: 0;
  top: 1rem;
  left: 50%;
  height: 3.5rem;
  width: calc(100% - 7rem);
  transform: translateX(-50%);
  text-align: center;
  font-family: 'EarlyGameBoy', sans-serif;
  font-size: 1.75rem;
  color: #293862;
  /* color: #ff9869; */
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-thickness: 2.75px;
  text-shadow: 1px 0.5px 2px rgba(86, 86, 86, 0.45),
    -0.5px -0.5px 0 rgba(193, 201, 230, 0.735);
  background-color: #8c9daa;
  border-radius: 0.25rem;
  border: #8c9daa solid 1px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.125) inset,
    0.75px 1px 2px rgba(10, 23, 50, 0.25);
  padding: 0.2rem 0 2rem;
  vertical-align: middle;
  cursor: default;
}

.top-switches {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 4rem;
  top: 2rem;
  z-index: 10;
}

.onoff-switch-container,
.sound-switch-container {
  position: relative;
  display: flex;
  align-items: center;
  color: #0a1b4b;
}

.switch-label {
  position: absolute;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.75rem;
  padding: 0.125rem 0;
  padding-top: 2.25rem;
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: #8c9daa; */
  background-color: transparent;
  /* border-radius: 0.25rem;
  border: #2e6677 solid 1px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset,
    0.75px 1px 2px rgba(10, 23, 50, 0.25); */
}

.switch-label svg {
  filter: drop-shadow(1px 1px 0px rgba(217, 217, 217, 0.35));
}

.switch-rail {
  height: 0.25rem;
  width: 4rem;
  padding: 0 0.25rem;
  background-color: #586874;
  border-color: #2e6677;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  box-shadow: 1px 1px 0 rgba(4, 20, 59, 0.35) inset;
  z-index: 1;
}
.switch-handle-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1rem;
  z-index: 2;
}
.switch-handle {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 0.5rem;
  text-align: center;
  color: #f88048;
  text-shadow: -0.5px 0px 0.75px #f7b799;
  /* line-height: 0.85rem; */
  cursor: pointer;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #2e6677;
  border-width: 0;
  background: linear-gradient(175deg, #fa9d71, #fc8a56);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset,
    1.5px 2px 2px rgba(10, 23, 50, 0.35);
}

.switch-handle span {
  vertical-align: middle;
}

.power-on,
.sound-on {
  animation: 0.35s turn-on ease;
}

.on-position {
  left: 2.5rem;
}

.power-off,
.sound-off {
  animation: 0.35s turn-off ease;
}

.off-position {
  left: 0;
}

@keyframes turn-on {
  to {
    left: 2.5rem;
  }
}

@keyframes turn-off {
  to {
    left: 0;
  }
}

.card-img-top {
  position: relative;
  width: 24.5rem;
  object-fit: fill;
  border-radius: 0;
  margin: 5.5rem 3.5rem 1.5rem 3.5rem;
  border-radius: 0.5rem;

  border-bottom: 8px solid #78a9cc !important;
  border-left: 8px solid #2d5c7d !important;
  border-right: 8px solid #538bb4 !important;
  border-top: 8px solid #1c4561 !important;
  background-color: rgb(67, 67, 67);
  box-shadow: inset 1px 2px 16px rgba(57, 45, 7, 0.75);
}

.card-img-top img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  filter: saturate(1.125) brightness(1.25) contrast(0.85);
}

.welcome-screen-filter {
  filter: saturate(1.125) opacity(0.05) invert();
}

.overlay {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
}

.overlay img {
  filter: opacity(0.15) brightness(0.85);
  height: 100%;
}

.question-display {
  position: relative;
  margin: 0 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgba(40, 43, 38, 0.8);
  height: 9rem;

  border-bottom: 8px solid #78a9cc !important;
  border-left: 8px solid #2d5c7d !important;
  border-right: 8px solid #538bb4 !important;
  border-top: 8px solid #1c4561 !important;
  background-color: rgb(238, 226, 193);

  z-index: 4;
  box-shadow: inset 1px 2px 16px rgba(57, 45, 7, 0.35);
  text-shadow: 1px 2px 12px rgba(57, 44, 7, 0.35);
}

.question-display::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;

  background-image: url(img/grain.jpeg);
  background-size: contain;
  mix-blend-mode: multiply;
  filter: opacity(0.35) brightness(0.2);

  z-index: 0; /* Hinter das Hauptelement schieben */
}

.card-text {
  font-family: 'PixelIntv', sans-serif;
  font-size: 1rem;
}
.card-title {
  font-family: 'PixelIntv', sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
}

.answer {
  color: rgba(40, 43, 38, 0.8);

  text-shadow: 1px 2px 12px rgba(57, 44, 7, 0.35);
  margin: 0;
  border: none;
  background-color: transparent;
  z-index: -1;
}

.card-body.answer-body {
  padding: 0.5rem;
}

.answer-container {
  position: relative;
  z-index: 4;
  display: flex;
  flex-direction: column;
  /* margin: 2.5rem; */
  width: 72%;
  height: 8rem;

  background-color: rgb(238, 226, 193);
  border-radius: 0.5rem;
  border-bottom: 8px solid #78a9cc !important;
  border-left: 8px solid #2d5c7d !important;
  border-right: 8px solid #538bb4 !important;
  border-top: 8px solid #1c4561 !important;
  box-shadow: inset 1px 2px 16px rgba(57, 42, 7, 0.35);
}

.answer-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(img/grain.jpeg);
  background-size: contain;
  mix-blend-mode: multiply;
  filter: opacity(0.35) brightness(0.2);

  z-index: 0; /* Hinter das Hauptelement schieben */
}

.card-body.answer-body {
  margin: 0;
  padding: 0.125rem 0.5rem;
  color: rgba(40, 43, 38, 0.8);

  font-size: 1rem;
  font-family: 'PixelIntv', sans-serif;
}

.answer-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2.5rem 1rem 2.5rem;
}

.locking-container {
  display: flex;
  justify-content: space-between;
  padding-left: 2.25rem;
  width: calc(100% - 70%);
}

.lock-switch-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 0;
  height: 100%;
}

.lock-switch {
  position: relative;
  height: 1.125rem;
  width: 2.5rem;
  color: transparent;
  font-size: 0.65rem;
  font-family: 'EarlyGameBoy', sans-serif;
  text-align: center;
  line-height: 1.125rem;
  padding: 0 auto;
  border-radius: 0.25rem;
  background-color: rgb(170, 170, 170);
  border-style: solid;
  border-color: #c4c4c4;
  border-bottom: transparent;
  border-width: 1px 1px 0 1px;
  box-shadow: 1.5px 1.5px 0 rgba(255, 255, 255, 0.2) inset,
    0.5px 0.5px 4px rgba(10, 23, 50, 0.25);
  cursor: pointer;
  overflow: hidden;
  z-index: 99;
}

.lock-switch::before {
  position: absolute;
  display: none;
  content: '';
  height: 1.125rem;
  width: 2.5rem;
  left: -1px;
  background: radial-gradient(circle, #e58c27 0%, #c4c4c4 100%);
  border-radius: 100%;
  filter: opacity(0.65) blur(6px);
  z-index: 1;
}

.lock-switch::after {
  position: absolute;
  content: attr(data-label);
  height: 1.125rem;
  width: 2.5rem;
  left: -1px;
  color: #0a1b4b;
  font-family: 'EarlyGameBoy', sans-serif;
  text-shadow: 1px 0.25px rgba(255, 255, 255, 0.3);

  z-index: 10;
}

.lock-switch:active {
  box-shadow: 0.5px 0.5px 0 rgba(255, 255, 255, 0.2) inset,
    0.5px 0.5px 4px rgba(10, 23, 50, 0.25);
  border-color: transparent;
}

.lock-switch:active::before {
  display: block;
}

.indicator-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem;
  height: calc(100%);
}

.lock-light {
  position: relative;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  border: 2px solid #474543;
  box-shadow: inset 1px 2px 0 0 rgba(0, 0, 0, 0.7);
}

.lock-light::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;

  border-radius: 50%;
  background: var(--off-led-background);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2),
    inset -0.5 1px 0 0 rgba(0, 0, 0, 0.6);
}

.lock-light::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 100%;
  height: 1.35rem;
  width: 1.35rem;
  right: -4.15px;
  top: -4.15px;
  opacity: 0.7;
  filter: blur(4px);
}

.wrong {
  background: var(--wrong-background);
}

.correct {
  background: var(--correct-background);
}

.idle {
  background: var(--idle-background);
}

.off-led {
  background: var(--off-led-background);
}

.confirm {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.confirm button {
  color: #0a1b4b;
  font-size: 0.8rem;
  font-family: 'EarlyGameBoy', sans-serif;
  text-align: center;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #2d5c7d;
  border-bottom: transparent;
  border-width: 1px 1px 0 1px;
  box-shadow: 1.5px 1.5px 0 rgba(255, 255, 255, 0.2) inset,
    1.5px 2px 4px rgba(10, 23, 50, 0.35);
  text-shadow: 1px 0.25px rgba(255, 255, 255, 0.3);
}

.confirm button:first-of-type {
  width: 72%;
  letter-spacing: 0.35rem;
  padding: 0.4rem 0.8rem;
  background: radial-gradient(circle, #ff9362, #f9996d);
  border-bottom: #2d5c7d solid 1px;
}

.confirm button:last-of-type {
  width: 22%;
  padding: 0.4rem;
  background: radial-gradient(circle, #8494a1, #8c9daa);
  border-bottom: #2d5c7d solid 1px;
}

.confirm button:active {
  box-shadow: 1.75px 1.5px 0 rgba(255, 255, 255, 0.2) inset,
    0.5px 1px 4px rgba(10, 23, 50, 0.45) inset;
  border-width: 1px;
  padding-top: 0.45rem;
  padding-bottom: 0.35rem;
}

.progress-panel {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0.5rem 2.5rem 1.5rem;
  padding-bottom: 0.35rem;
  background-color: #8c9daa;
  border-radius: 0.25rem;
  border: #2e6677 solid 1px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
}

fieldset {
  display: inline-block;
  vertical-align: middle;
  border: none;
  width: 100%;
  padding: 1rem 0.75rem 0.75rem;
}
.legend {
  color: #0a1b4b;
  font-size: 0.65rem;
  font-family: 'EarlyGameBoy', sans-serif;
  letter-spacing: 0.35rem;
  margin-bottom: 0.5rem;
  height: 0.5rem;
  border-color: #2e6677;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  text-shadow: 0 0.5px rgba(255, 255, 255, 0.3);
}
.legend span {
  position: relative;
  top: -7px;
  padding: 0 0.75rem;
  display: flex;
  justify-content: flex-start;
  background-color: #8c9daa;
  text-align: center;
  width: 8.75rem;
  margin-left: 0.5rem;
}

.progress-light-panel {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.light-rows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0rem;
  gap: 0.75rem;
  flex-grow: 1;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row-2,
.row-4 {
  flex-direction: row-reverse;
}

.right-bracket-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  padding: 0.25rem 0;
}

.left-bracket-container {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}

.right-bracket {
  width: 0.35rem;
  height: 1.25rem;
  border-color: #2e6677;
  border-style: solid;
  border-width: 1px 1px 1px 0;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.125),
    0px 1px 0 rgba(255, 255, 255, 0.125) inset;
}

.left-bracket {
  display: flex;
  justify-content: center;
  width: 0.35rem;
  height: 1.25rem;

  border-color: #2e6677;
  border-style: solid;
  border-width: 1px 0 1px 1px;
  box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.125),
    0px 1px 0 rgba(255, 255, 255, 0.125) inset;
}

.spacer {
  display: flex;
  flex-grow: 1;
  height: 2px;
  border-color: #2e6677;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.125) inset;
}

.rotated-90 {
  transform: rotate(90deg);
  box-shadow: 0px 1px 0 rgba(157, 178, 212, 0.675) inset,
    0px -1px 3px rgba(10, 23, 50, 0.125);
  border-color: #2d5c7d;
}

.rotated-180 {
  margin: 0.75rem 2.75rem;
  transform: rotate(180deg);
  box-shadow: 0px -1px 0 rgba(157, 178, 212, 0.675) inset,
    0px -1px 3px rgba(10, 23, 50, 0.125);
  border-color: #2d5c7d;
}

.progress-light {
  position: relative;
  height: 0.5rem;
  width: 0.5rem;
  margin: 0 0.35rem;
  border-radius: 50%;
  border: 0.75px solid #383735;
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
}

.progress-light::before {
  content: '';
  display: block;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background: var(--off-led-background);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.2);
}

.progress-light::after {
  position: absolute;
  content: '';
  display: block;
  border-radius: 100%;
  height: 0.65rem;
  width: 0.65rem;
  left: -2px;
  top: -2.5px;
  filter: blur(2px);
}

/* #q4LED.progress-light::after {
  background: var(--idle-background);
} */

.lock-light.is-off::after,
.progress-light.is-off::after {
  background: none;
}

.lock-light.is-idle::after,
.progress-light.is-idle::after {
  background: var(--idle-background) !important;
}

.lock-light.is-wrong::after,
.progress-light.is-wrong::after {
  background: var(--wrong-background) !important;
}

.lock-light.is-correct::after,
.progress-light.is-correct::after {
  background: var(--correct-background) !important;
}

.progress-light.is-idle.pulsating::after {
  content: ''; /* Das ::after Pseudo-Element benötigt den Content-Attribut */
  position: absolute; /* Positioniere das Pseudo-Element */
  left: -2px;
  top: -2.5px;
  right: 0;
  bottom: 0;
  background: var(--idle-background); /* Setze die Hintergrundfarbe */
  opacity: 0; /* Starte die Animation mit niedriger Opazität */
  animation: pulseAnimation 0.75s ease-in-out infinite alternate; /* Füge die Pulsationsanimation hinzu */
}
.progress-light.is-correct.pulsating::after {
  content: ''; /* Das ::after Pseudo-Element benötigt den Content-Attribut */
  position: absolute; /* Positioniere das Pseudo-Element */
  left: -2px;
  top: -2.5px;
  right: 0;
  bottom: 0;
  background: var(--correct-background); /* Setze die Hintergrundfarbe */
  opacity: 0; /* Starte die Animation mit niedriger Opazität */
  animation: pulseAnimation 0.75s ease-in-out infinite alternate; /* Füge die Pulsationsanimation hinzu */
}
.progress-light.is-wrong.pulsating::after {
  content: ''; /* Das ::after Pseudo-Element benötigt den Content-Attribut */
  position: absolute; /* Positioniere das Pseudo-Element */
  left: -2px;
  top: -2.5px;
  right: 0;
  bottom: 0;
  background: var(--wrong-background); /* Setze die Hintergrundfarbe */
  opacity: 0; /* Starte die Animation mit niedriger Opazität */
  animation: pulseAnimation 0.75s ease-in-out infinite alternate; /* Füge die Pulsationsanimation hinzu */
}

@keyframes pulseAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
