:root {
  --bgc-q01: #3f769e !important;
}

body {
  min-height: 100vh;
  background-color: #3f769e !important;
}

header {
  position: fixed;
  z-index: 99;
}

.title-bar {
  object-fit: repeat;
  height: 6rem;
  width: 100vw;
  background-image: url(img/header_bg.svg);
  background-size: contain;
}

.atf {
  text-align: center;
  font-family: 'EarlyGameBoy', sans-serif !important;
}

.quizcard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-card {
  width: 32rem;

  box-shadow: 2.6px 2.6px 2.4px rgba(10, 31, 46, 0.022),
    6.5px 6.5px 6.1px rgba(10, 31, 46, 0.031),
    13.3px 13.3px 12.4px rgba(10, 31, 46, 0.039),
    27.4px 27.4px 25.6px rgba(10, 31, 46, 0.048),
    75px 75px 70px rgba(10, 31, 46, 0.07);
  border: none;
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}
